{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME/Get a Certificate</title>
    <link rel="stylesheet" href="{% static "index.css" %}"/>
</head>
<body>

<div class = "nav" >
    <div class = "nav-content">
        <p><strong>  Coffee Namu  </strong></p>
    </div>
</div>

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>Select The Next Step</strong></h1><h2>+ Free, Secure, Easy to Use.</h2></span>
                <img src="../../static/image/coin.png" width = "600" height = "300">
            </div>
            <div class="card-content">
                <p><h3>A blockchain is more than a technology. It's a strategy.</h3></p>
            </div>
            <div class="card-action">
                <a href="index"><button style="height:50px;width:200px"><h3>Issue a certificate</h3></button></a>
                <a href="introduction"><button style="height:50px;width:350px"><h3>What is <strong>BlockChain</strong> certificate ?</h3></button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
