{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certification</title>
    <link rel="stylesheet" href="{% static "index.css" %}"/>
</head>
<body>

<div class = "nav" >
    <div class = "nav-content">
        <p><strong>  Coffee Namu  </strong></p>
    </div>
</div>

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-content">

                <form action ="/regist/form/" method ="post">
                    <p>Name : <input type="text" name ='name'/></p>
                    <p>Resident Registration Number, RRN : <input type="text" name = 'personnum'/></p>
                    <p>e - mail : <input type="text" name = 'mail'/></p>
                    <p>Phone Num : <input type="text" name = 'phone'/></p>
                    <p>Address : <input type="text" name = 'address'/></p>
                    <p>ID : <input type="text" name = 'username'/></p>
                    <p>Password : <input type="password" name = 'password'/></p>
                    <p>Certification Password : <input type="password" name = 'certpass'/></p>
                    <input type ="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>