{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutBlockChain Certificate ?</title>
    <link rel="stylesheet" href="{% static "introduction.css" %}"/>
</head>
<body>
<div class = "nav" >
    <div class = "nav-content">
        <p><strong>  Coffee Namu  </strong></p>
    </div>
</div>

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>What is BlockChain Certificate ?</strong></h1></span>
                <img src="../../static/image/blockchain.png" width = "600" height = "300">

            </div>
            <div class="card-content">
                <p>___________________________________________________________________________</p>
                <p></p>
                <p></p>
                <p>현재 우리나라에서 사용되고 있는 공인인증서는 현시대에 동떨어져있다.</p>
                <p>Active X와 함께 사용되어 Internet Explorer에서 밖에 사용할 수 없으며,</p>
                <p>개인키를 컴퓨터에 소장하게 함으로써, 무단 복제등의 부작용 또한 가능할 뿐 아니라</p>
                <p>CA가 해킹당한다면 공인인증서 자체가 의미가 없어져버리는 문제점을 가지고 있다.</p>
                <p>그래서 고안된것이 블록체인을 이용한 공인인증서 시스템이다.</p>
                <p>블록체인은 기본적으로 해킹자체가 불가능한 구조로써, 수많은 서버가 정보의 무결성을 보장한다.</p>
                <p>블록체인을 구성하는 서버위에 개인키와 공개키를 함께 올려 사용함으로써, 공개키와 개인키의 유출, </p>
                <p>복제등을 원천봉쇄할 수 있다.</p>
                <p>또한 개인이 공개키,개인키를 컴퓨터에 설치하는 일이 없기 때문에 보다 안전하고 편리하다.</p>
                <p>안전하고 편리한 인터넷뱅킹. 블록체인으로 시작합니다.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>