{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static "selectpage.css" %}"/>

</head>
<body>
<div class="row" style = "background: #f48fb1 ;
                          border-radius: 25px;
                          padding: 20px;
                          width: 800px;
                          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                          position: relative;
                          top:15px;
                          left: 200px">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <span class="card-title"><h1><strong>COFFEE NAMU</strong></h1><h2>+ Add Convenience to Shopping</h2></span>
                <img src="http://newsexaminer.net/wp-content/uploads/2016/06/online-shopping-1.jpg" width = "800" height = "500">
            </div>
            <div class="card-content">
                <p><h3>By using "Coffee Namu", you don't need to download certificate</h3></p>
            </div>
            <div class="card-action">
                <a href="/demo"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px "><bold>Go to Shopping Mall</bold></button></a>
                <a href="/regist/home"><button style = "background-color: white; font-size: 16px; width: 200px; height: 50px"><bold>Get a Certificate</bold></button></a>
            </div>
        </div>
    </div>
</div>

<h1 class="test">test</h1>

</body>
</html>