.nav
{
    background-color: hsla(240, 100%, 25%, 0.3);
    position: fixed;
    margin: 0;
    padding: 0;
    float: left;
    border-radius: 8px;

}
.nav-content
{
    color : white;
    font-size: large;
    font-family: "Times New Roman";
}

body
{
    background-color: #cfd8dc;
    background-size : cover;
}


.row
{
    border-radius: 8px;
    padding: 20px;
    width: 800px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    top:15px;
    left: 200px;
    background-color: #f8bbd0;
}

.card-content
{
    font-family: "Times New Roman";
}

